.blue {
  --tw-color-primary-50: 239 246 255;
  --tw-color-primary-100: 219 234 254;
  --tw-color-primary-200: 191 219 254;
  --tw-color-primary-300: 147 197 253;
  --tw-color-primary-400: 96 165 250;
  --tw-color-primary-500: 59 130 246;
  --tw-color-primary-600: 37 99 235;
  --tw-color-primary-700: 29 78 216;
  --tw-color-primary-800: 30 64 175;
  --tw-color-primary-900: 30 58 138;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #eff6ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #dbeafe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bfdbfe */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #93c5fd */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #60a5fa */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #3b82f6 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #2563eb */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #1d4ed8 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #1e40af */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #1e3a8a */
}

.cyan {
  --tw-color-primary-50: 236 254 255;
  --tw-color-primary-100: 207 250 254;
  --tw-color-primary-200: 165 243 252;
  --tw-color-primary-300: 103 232 249;
  --tw-color-primary-400: 34 211 238;
  --tw-color-primary-500: 6 182 212;
  --tw-color-primary-600: 8 145 178;
  --tw-color-primary-700: 14 116 144;
  --tw-color-primary-800: 21 94 117;
  --tw-color-primary-900: 22 78 99;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #ecfeff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #cffafe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #a5f3fc */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #67e8f9 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #22d3ee */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #06b6d4 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0891b2 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0e7490 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #155e75 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #164e63 */
}

.teal {
  --tw-color-primary-50: 240 253 250;
  --tw-color-primary-100: 204 251 241;
  --tw-color-primary-200: 153 246 228;
  --tw-color-primary-300: 94 234 212;
  --tw-color-primary-400: 45 212 191;
  --tw-color-primary-500: 20 184 166;
  --tw-color-primary-600: 13 148 136;
  --tw-color-primary-700: 15 118 110;
  --tw-color-primary-800: 17 94 89;
  --tw-color-primary-900: 19 78 74;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0fdfa */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #ccfbf1 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #99f6e4 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #5eead4 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #2dd4bf */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #14b8a6 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0d9488 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0f766e */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #115e59 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #134e4a */
}

.red {
  --tw-color-primary-50: 254 242 242;
  --tw-color-primary-100: 254 226 226;
  --tw-color-primary-200: 254 202 202;
  --tw-color-primary-300: 252 165 165;
  --tw-color-primary-400: 248 113 113;
  --tw-color-primary-500: 239 68 68;
  --tw-color-primary-600: 220 38 38;
  --tw-color-primary-700: 185 28 28;
  --tw-color-primary-800: 153 27 27;
  --tw-color-primary-900: 127 29 29;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #fef2f2 */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #fee2e2 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #fecaca */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #fca5a5 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #f87171 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #ef4444 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #dc2626 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #b91c1c */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #991b1b */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #7f1d1d */
}

.gray {
  --tw-color-primary-50: 249 250 251;
  --tw-color-primary-100: 243 244 246;
  --tw-color-primary-200: 229 231 235;
  --tw-color-primary-300: 209 213 219;
  --tw-color-primary-400: 156 163 175;
  --tw-color-primary-500: 107 114 128;
  --tw-color-primary-600: 75 85 99;
  --tw-color-primary-700: 55 65 81;
  --tw-color-primary-800: 31 41 55;
  --tw-color-primary-900: 17 24 39;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f9fafb */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #f3f4f6 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #e5e7eb */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #d1d5db */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #9ca3af */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #6b7280 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #4b5563 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #374151 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #1f2937 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #111827 */
}

.slate {
  --tw-color-primary-50: 248 250 252;
  --tw-color-primary-100: 241 245 249;
  --tw-color-primary-200: 226 232 240;
  --tw-color-primary-300: 203 213 225;
  --tw-color-primary-400: 148 163 184;
  --tw-color-primary-500: 100 116 139;
  --tw-color-primary-600: 71 85 105;
  --tw-color-primary-700: 51 65 85;
  --tw-color-primary-800: 30 41 59;
  --tw-color-primary-900: 15 23 42;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f8fafc */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #f1f5f9 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #e2e8f0 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #cbd5e1 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #94a3b8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #64748b */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #475569 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #334155 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #1e293b */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0f172a */
}
